<% if recipe.comments.exists? %>
  <table class="table">
    <% recipe.comments.each do |comment| %>
    <tr>
      <th>
        <%= image_tag comment.user.get_user_image(35, 35),
            style: "border-radius: 50%; object-fit:cover;" %>
        <%= comment.user.name %>
      </th>
      <th><%= comment.recipe_comment %></th>
      <th><%= link_to "削除", admin_recipe_comment_path(recipe, comment), method: :delete,
          class: "btn btn-danger btn-sm", data: {confirm: "削除しますか？"} %>
      </th>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>コメントはまだありません</p>
<% end %>