// Place all the styles related to the public/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .comment{
  display: flex;
 }
 .form-group-area{
  vertical-align: top;
 }
 .form-group-btn{
  vertical-align: top;
 }

  .btn-x{
  background-color: #ff2e43;
  color: white;
  border-radius: 50%;
 }

 .comment-on{
  color: #ffa07a;
  font-size: 1.2em;
 }

 .comment-off{
  color: #a9a9a9;
  font-size: 1.2em;
 }