// Place all the styles related to the public/recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 /*
 .user_image_index{
  text-align: right;
  width: 280px;
  position: absolute;
  bottom: 70px;
 }
 */
 /*入力フォーム*/
 .form-title{
  display: flex;
 }
 .font-count{
  margin-top: 5px;
  color: rgba(79,77,77,0.6);
 }

 /*showページ*/
 .image-tag{
  display:flex;
 }
 .image-tag-1{
  height: auto;
  width: 100%;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .5);
 }
 .user-name {
  font-size: 30px;
 }
 .user-name a{
  color: black;
  text-decoration: underline;
 }
 .count-show {
  display: flex;
 }
 .show-fav{
  font-size: 25px;
 }

 .recipe-under{
  display: flex;
 }

 .show-view{
  display:flex;
 }
 .recipe-name-show{
  font-size: 40px;
  font-weight: 900;
  font-family: 'Osaka',sans-serif;
 }
 .genre-flame-waku-show {
  font-size: 20px;
  background: #990000;
  border-radius: 10px;
  padding: 11px;
 }
 .genre-flame-waku-show a{
  color: white;
  font-family: 'Osaka',sans-serif;
 }

 .recipe-flame {
  background: white;
  word-break : break-all;
  font-size: 25px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
 }
 .recipe-user{
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
 }
 .recipe-user-show{
  display: block;
  margin-right: 25px;
 }
 .recipe-user-show a{
  color: black;
 }
 /*材料、手順背景色*/
 .table-recipe {
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
 }
 .comment-form{
  display: flex;
 }
 .recipe-user-name{
  text-decoration: underline;
 }
 .recipe-user-introduction{
  font-size: 1.2em;
  word-break : break-all;
 }
 .user-info{
  display: flex;
 }
 .user-info-count{
  font-size: 1.3em;
 }

 /*indexページ*/
 .recipe-foto{
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
  border-radius: 20px 20px 0 0;
 }
 .recipe-name{
  display: block; margin: auto;
  font-size: 1.2em;
  font-weight: 900;
  display:flex;
  width: 280px;
  height: 50px;
  padding: 10px 10px;
  margin-bottom: 20px;
  background: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
 }
 .genre-flame-waku {
  width: 50%;
  margin: 15px;
  font-size: 20px;
  background: #990000;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
 }
 .genre-flame-waku a{
  color: white;
  font-family: 'Osaka',sans-serif;
 }

 .genre-flame-waku-rank{
  margin: 15px;
  font-size: 20px;
  background: #ffec47;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
 }

 .genre-flame-waku-rank a{
  color :black;
  font-family: 'Osaka',sans-serif;
 }

 .recipe-name-link{
  padding: 0px;
 }

 .recipe-name-link a{
  color :black;
 }

 .recipe-comment-count{
  padding: 0px;
  font-size: 20px;
 }

 .fav-btn{
  padding: 0px;
  font-size: 20px;
 }
 .recipe-name-form{
  width: 70%;
 }
 .recipe-info-form{
  width: 100%;
 }
 .step-form-1{
  width: 80%;
 }
 .ingredient-form{
  width: 40%;
 }