// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .introduction{
  word-break: break-all;
 }
 .mylist{
  color: #ff69b4;
 }
 .user-link{
  color: black;
 }

 .user-recipe-genre{
  font-size: 15px;
  padding: 0;
 }
 .user-recipe-genre a{
  color: black;
 }