// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .introduction{
  word-break: break-all;
  font-size: 0.8em;
 }
 .mylist{
  color: #ff69b4;
 }
 .user-link{
  color: black;
 }

 .user-recipe-genre{
  font-size: 15px;
  padding: 0;
 }

 .genre{
  font-size: 1.3em;
 }

.mylist-flame{
  width: 100%;
}