<div class="nested-fields" style="margin-bottom:5px;">
  <tr>
    <td><%= f.text_field :name, placeholder: "例:しめじ" %></td>
    <td><%= f.text_field :amount, placeholder: "例:１パック" %></td>
    <td><%= link_to_remove_association "削除", f %></td>
  </tr>
</div>