<div class="nested-fields">
  <tr>
    <td><%= f.text_area :explanation, cols: "42", placeholder: "例:しめじを食べやすい大きさにちぎります。" %></td>
    <td><%= link_to_remove_association "削除", f, class: "btn btn-outline-danger btn-sm danger2" %></td>
  </tr>
</div>