<div class="nested-fields">
  <tr>
    <td><%= f.text_area :explanation,rows: "1",
            placeholder: "例:しめじを食べやすい大きさにちぎります。", class: "step-form-1" %></td>
    <td><%= link_to_remove_association "削除", f,
            class: "btn btn-outline-danger btn-sm danger2" %></td>
  </tr>
</div>