
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>下書き</h1>
      <table class="table">
        <thead>
          <tr>
            <th>制作日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= link_to "編集", edit_recipe_path(recipe.id), class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>