<div class="container genre_flame">
  <% @genres.each do |genre| %>
    <div class="genre_flame_waku">
      <%= link_to genre.name, recipes_path(genre_id: genre.id) %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="text-right">
    <%= link_to "レシピ作成", new_recipe_path,  class:"btn btn-success" %>
  </div><br>
<%= render 'public/recipes/index', recipes: @recipes %>
</div>
<div class="row justify-content-center mt-5">
  <%= paginate @recipes, theme: 'bootstrap-5' %>
</div>