<%= form_with(model: [@recipe, @comment], local: false)  do |f| %>
<div class="form-group comment">
  <div class="form-group-area">
   <%= f.text_area :recipe_comment, cols: "40",rows: "1", placeholder: "コメントはこちらに" %>
  </div>
  <div class="form-group-btn">
   <%= f.submit "送信" %>
  </div>
</div>
<% end %>