<div class="container">
  <div class="row mx-auto">
    <div class="col-md-9 mx-auto">
      <h4 class="text-center">
        <i class="fas fa-utensil-spoon"></i>フォロー一覧
      </h4><br>
      <% if @users.exists? %>
        <%= render "public/relationships/follow_index", users: @users, genres: @genres %>
      <% else %>
        <h4 class="mx-auto">ユーザーはいません</h4>
      <% end %>
    </div>
  </div>
</div>