<div class="container-fluid">
  <div class="row">
    <div class="about">
      <%= image_tag "about.jpg", class: "about_image1" %>
      <div class="about_message">
        <h4>Enjoy!BBQ!とは</h4>
        <p>こちらのサイトはBBQ特化型のレシピサイトです。<br>
          BBQにこれからいくけど、何かアクセントが欲しい！<br>
          BBQでやってきたことをたくさんの人と共有したい！<br>
          初心者にも上級者にもぜひ楽しんでもらいたいサービスです。
        </p>
      </div>
    </div>
  </div>
</div>