<div class="top container-fluid">
  <div class="row-fluid">
    <div class="top-image">
      <%= image_tag "about.jpg", class: "top-image1" %>
    </div>
    <div class="top-waku col-sx-12">
      <div class="top-message">
        <p class="top-message-title">Enjoy!BBQ!とは</p>
        <p class="top-message-body">こちらのサイトはBBQ特化型のレシピサイトです。<br>
          BBQにこれからいくけど、何かアクセントが欲しい！<br>
          BBQでやってきたことをたくさんの人と共有したい！<br>
          初心者にも上級者にもぜひ楽しんでもらいたいサービスです。
          <% unless user_signed_in? %>
          <br><br>
          <%= link_to "こちら", public_guest_sign_in_path, method: :post %>
          から、ゲストログインができます。<br>
          <% end %>
        </p>
      </div><br>
    </div>
  </div>
</div>