<div class="top container-fluid">
  <div class="row-fluid">
    <div class="top-image">
      <%= image_tag "about.jpg", class: "top_image1" %>
    </div>
    <div class="top-waku col-sx-12">
      <div class="top_message">
        <p class="top_message_title">Enjoy!BBQ!とは</p>
        <p class="top_message_body">こちらのサイトはBBQ特化型のレシピサイトです。<br>
          BBQにこれからいくけど、何かアクセントが欲しい！<br>
          BBQでやってきたことをたくさんの人と共有したい！<br>
          初心者にも上級者にもぜひ楽しんでもらいたいサービスです。<br><br>
          <% unless user_signed_in? %>
          <%= link_to "こちら", public_guest_sign_in_path, method: :post %>
          から、ゲストログインができます。<br>
          <% end %>
        </p>

      </div><br>
    </div>
  </div>
</div>