 header {
   width: 100%;
   background: #deb887;
 }

.size {
  font-size: 2em;
  color: black;
}

a .nav-link{
  justify-content: center;
}
 main {
   padding : 20px;
   min-height: 1000px;
   background: #ffffe0;
 }

 .form {
  background: white;
  padding: 10px;
 }

 .table-recipe {
  background: white;
 }

.favorite {
 font-size: 30px;
}

 .recipe_flame {
  background: white;
 }

 .genre_flame {
  display: flex;
 }

 .genre_flame_waku {
  margin: 15px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
 }

 footer {
   width: 100%;
   background: #deb887;
   text-align: center;
 }