<div class="container-fulid">
  <div class="row">
    <div class="col-md-8 mx-auto mt-5">
      <h4 class="text-center">ユーザー一覧</h4>
      <div class="col-12">
        <%= page_entries_info @users %>
      </div>
      <%= render "admin/users/index", users: @users %>
    </div>
  </div>
　<div class="row justify-content-center mt-5">
　  <%= paginate @users, theme: 'bootstrap-5' %>
　</div>
</div>


