<h1>マイリスト一覧</h1>
<%= @user.favorites.count %>
<div class="container">
  <%= render "public/recipes/index", recipes: @recipes %>
</div>


<div class="row justify-content-center mt-5">
  <%= paginate @recipes, theme: 'bootstrap-5' %>
</div>
